<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <br>
  </header>
  <main>
    <h2>Liste des livres</h2>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Date de lecture</th>
          <th>Site</th>
          <th>Langues</th>
          <th>Chapitres lus</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livre of livres">
          <td><a class="link" href="{{ livre.lien }}" target="_blank">{{ livre.nom }}</a></td>
          <td>{{ livre.dateLecture | date:'dd/MM/yy' }}</td>
          <td>
            <ul>
              <li *ngFor="let site of livre.sites"><a class="link" href="{{ site.domaine }}" target="_blank">{{ site.nom
                  }}</a></li>
            </ul>
          </td>

          <td>{{ livre.langues }}</td>
          <td>{{ livre.chapitresLus }}</td>
          <td>{{ livre.notes }}</td>
          <td>
            <button (click)="modifierLivre(livre)">Modifier</button>
            <button (click)="supprimerLivre(livre)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
  </footer>
</body>

</html>
