<div class="container">
  <h2 class="title">Modifier le livre {{ livre.nom }}</h2>
  <form class="form row" #f="ngForm" (ngSubmit)="modifierLivre()">
    <div class="form__group col-md-6">
      <div class="form__group">
        <label for="nom">Nom :</label>
        <input type="text" [(ngModel)]="livre.nom" id="nom" name="nom" class="form-control">
      </div>
      <div class="form__group">
        <label for="dateLecture">Date de lecture :</label>
        <input type="date" [(ngModel)]="livre.dateLecture" id="dateLecture" name="dateLecture" class="form-control">
      </div>
      <div class="form__group">
        <label for="lien">Lien :</label>
        <input type="text" [(ngModel)]="livre.lien" id="lien" name="lien" class="form-control">
      </div>
      <div class="form__group" *ngFor="let site of livre.sites; let i = index">
        <label for="site{{i}}">Nom du site {{i + 1}} :</label>
        <input type="text" [(ngModel)]="site.nom" id="site{{i}}" name="site{{i}}" class="form-control">
      </div>
    </div>
    <div class="form__group col-md-6">
      <div class="form__group">
        <label for="langues">Langues :</label>
        <select [(ngModel)]="livre.langues" id="langues" name="langues" class="form-control">
          <option value="FR">FR</option>
          <option value="ENG">ENG</option>
        </select>
      </div>
      <div class="form__group">
        <label for="notes">Notes :</label>
        <select [(ngModel)]="livre.notes" id="notes" name="notes" class="form-control">
          <option *ngFor="let i of notesOptions" [value]="i">{{ i }}</option>
        </select>
      </div>
      <div class="form__group">
        <label for="chapitresLus">Dernier chapitre lu :</label>
        <input type="number" [(ngModel)]="livre.chapitresLus" id="chapitresLus" name="chapitresLus"
          class="form-control">
      </div>
      <div class="form__group" *ngFor="let site of livre.sites; let i = index">
        <label for="domaine{{i}}">Domaine du site {{i + 1}} :</label>
        <input type="text" [(ngModel)]="site.domaine" id="domaine{{i}}" name="domaine{{i}}" class="form-control">
      </div>
    </div>
    <div class="form__group col-md-12 full-width">
      <div class="button-row">
        <button type="button" class="btn btn-primary" (click)="ajouterSite()">Ajouter un site</button>
        <button type="button" class="btn btn-secondary" (click)="retirerDernierSite()">Retirer le dernier site</button>
      </div>
      <div class="center-btn">
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </form>
</div>
