.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #fff;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  grid-column: span 1;
}

.form__group select,
.form__group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.form__group input {
  height: 24px;
}

.form__group label {
  margin-bottom: 0.5rem;
  color: #fff;
}

button {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #333;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover,
button:active {
  background-color: #555;
}
.full-width {
  grid-column: 1 / -1;
  }

  .col-md-12 {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

