
.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #ffff
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}

.form__group label {
  margin-bottom: 0.5rem;
}

.form__group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
}

button {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #333;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #555;
}

