<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scanthèque</title>
</head>

<body>
  <header>
    <h1 class="header-title">Scanthèque</h1>
    <nav class="header-nav">
      <a routerLink="/livres" routerLinkActive="active">Liste des livres</a>
      <a routerLink="/ajout-livre" routerLinkActive="active">Ajouter un livre</a>
      <a routerLink="/sites" routerLinkActive="active">Liste des sites</a>
      <a routerLink="/ajout-site" routerLinkActive="active">Ajouter un site</a>
    </nav>
    <div class="header-actions">
      <button (click)="logout()">Déconnexion</button>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>Scanthèque 2023©</p>
  </footer>
</body>

</html>
