html {
  height: 100%;
  background-color: #2b0d33;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #2b0d33;
  flex-grow: 1;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  text-align: center;
  height: 2rem;
  padding: 1rem 0;
  color: #fff;
  background-color: #333;
}

header {
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  background-color: #000000;
}

.header-title {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.header-nav {
  margin-top: 1rem;
}

.header-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.header-actions button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-actions button:hover,
.header-actions button:active {
  background-color: #555;
}


h1 {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

nav a {
  font-size: 1rem;
  padding: 1rem 2rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  margin: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover,
nav a:active {
  background-color: #555;
}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}

table {
  margin-bottom: 4rem;
}

footer p {

  margin: 0;
}
